# azure-pipelines-cd.yml
trigger: none

resources:
  pipelines:
  - pipeline: buildPipeline
    source: 'Sprint 4 - Azure DevOps'
    trigger:
      branches:
        include:
        - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: MotoConnect-Secrets
  - name: webAppName
    value: 'app-motoconnect-557884'  # AJUSTE COM SEU NOME
  - name: acrName
    value: 'acrmotoconnect557884'    # AJUSTE COM SEU NOME
  - name: imageRepository
    value: 'motoconnect-api'

stages:
- stage: Deploy
  displayName: 'Deploy to Azure'
  jobs:
  - deployment: DeployWeb
    displayName: 'Deploy to Web App'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          
          # Download artifacts
          - download: buildPipeline
            artifact: drop
            displayName: 'Download Build Artifacts'
          
          # Azure CLI - Login no ACR
          - task: AzureCLI@2
            displayName: 'Login to Azure Container Registry'
            inputs:
              azureSubscription: 'Azure-MotoConnect'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az acr login --name $(acrName)
          
          # Docker - Build and Push
          - task: Docker@2
            displayName: 'Build and Push Docker Image'
            inputs:
              containerRegistry: 'Azure-MotoConnect'
              repository: '$(imageRepository)'
              command: 'buildAndPush'
              Dockerfile: '$(Pipeline.Workspace)/buildPipeline/drop/Dockerfile'
              tags: |
                $(Build.BuildId)
                latest
          
          # Deploy to Azure Web App
          - task: AzureWebAppContainer@1
            displayName: 'Deploy to Azure Web App'
            inputs:
              azureSubscription: 'Azure-MotoConnect'
              appName: '$(webAppName)'
              containers: '$(acrName).azurecr.io/$(imageRepository):$(Build.BuildId)'